
header{
    background-color: #343a40;
    text-align: center;
    height: 120px;
}

#mini_logo{
    width: 100px;
    height: 40px;
}


.carousel-item img{
    width:70%;
    height:300px;
    margin:auto;
}

.imagen_agregar_productos{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2rem;
    max-width: 90%;

}
.a_agregar_productos{
    background: #7fb6ec;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    max-width: 300px;
}
}

.carousel{
        height:400px;
}

main{
    background-image: url('fondo1.jpg');
    background-position-x: center;
}

.carousel{
    padding-top: 50px;
    padding-bottom:50px;
    margin-right:20%;
    margin-left:20%;
    margin-bottom:30px;
    background-color:rgba(33, 63, 8,0.5);
}

header div{
    height:100%;
}

header div img{
    position: relative;
    top:-30px;
}

#formulario_container{
    background-color: rgba(123, 171, 83, 0.8 );
}

.verdecito{
background-color:  rgba(199, 228, 188);
color: black;
}

.verde_clarito{
    background-color: rgba(216, 240, 207);
}

li{
    list-style: none;
}

#contenedor_tienda_x img{
    max-width: 340px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
}

.imagenes_prod{
    width: 120px;
}

